* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Fugaz One;
  color: #c5275c;
  line-height: 1.4;
  font-size: 20pt;
}

body {
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}

.text{
  column-count: 2;
  column-gap: 48px;
  text-align: justify;
  font-family: sans-serif;
  color: #000000;
  line-height: 1.4;
  font-size: 16pt;
}







